# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Apple private keys
*.p8
AuthKey_*

# Google service account keys
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!components.json
!eslint.config.js

# Environment files
.env*

# Fastlane sensitive
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Keystores
*.keystore
*.jks

# Capacitor build artifacts
ios/App/Pods
android/.gradle
android/app/build
